<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- SEO Title -->
  <title>Натяжные потолки в Севастополе | PRO Потолок — монтаж и цены</title>

  <!-- Meta Description -->
  <meta name="description" content="Компания PRO Потолок — натяжные потолки в Севастополе под ключ. Красивый дизайн, качественный монтаж, гарантия и доступные цены. Бесплатный замер — звоните!">

  <!-- Keywords -->
  <meta name="keywords" content="натяжные потолки Севастополь, PRO Потолок, потолки под ключ, монтаж потолков, потолки цены Севастополь, дизайн потолков, потолки с подсветкой, потолочные решения Севастополь">

  <!-- Open Graph -->
  <meta property="og:title" content="Натяжные потолки в Севастополе | PRO Потолок">
  <meta property="og:description" content="Стильные и надёжные натяжные потолки в Севастополе. Бесплатный замер и консультация. Звоните: +7 (978) 585-80-80">
  <meta property="og:image" content="https://pro-potolok92.ru/images/logo.png">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://pro-potolok92.ru/">

  <!-- Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">

  <!-- Styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/carousel-block.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/calculator.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about_us.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reviews.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Микроразметка для компании -->
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "PRO Потолок",
    "url": "https://pro-potolok92.ru",
    "logo": "https://pro-potolok92.ru/images/logo.png",
    "image": "https://pro-potolok92.ru/images/logo.jpg",
    "description": "Компания PRO Потолок — натяжные потолки в Севастополе под ключ. Бесплатный замер, гарантия и качественный монтаж.",
    "address": {
        "@type": "PostalAddress",
        "addressLocality": "Севастополь",
        "addressCountry": "Россия"
    },
    "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+7-978-585-80-80",
        "contactType": "customer service",
        "availableLanguage": ["Russian"]
    },
    "sameAs": [
        "https://vk.com/pro_potoloksev",
        "https://t.me/propotolok92_project"
    ]
    }
    </script>

    <!-- Микроразметка FAQ -->
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
        {
        "@type": "Question",
        "name": "Сколько стоит натяжной потолок в Севастополе?",
        "acceptedAnswer": {
            "@type": "Answer",
            "text": "Цена натяжного потолка зависит от площади и выбранного материала. В среднем стоимость начинается от 450 руб./м². Точный расчет делаем бесплатно при замере."
        }
        },
        {
        "@type": "Question",
        "name": "Сколько времени занимает монтаж натяжного потолка?",
        "acceptedAnswer": {
            "@type": "Answer",
            "text": "Монтаж стандартного потолка в комнате 18–20 м² занимает около 3–4 часов. Для больших помещений или сложных конструкций время увеличивается."
        }
        },
        {
        "@type": "Question",
        "name": "Какая гарантия на натяжные потолки?",
        "acceptedAnswer": {
            "@type": "Answer",
            "text": "Мы предоставляем официальную гарантию 15 лет на полотно"
        }
        },
        {
        "@type": "Question",
        "name": "Делаете ли вы потолки с подсветкой и многоуровневые конструкции?",
        "acceptedAnswer": {
            "@type": "Answer",
            "text": "Да, мы выполняем монтаж потолков с подсветкой, световыми линиями и многоуровневыми конструкциями любой сложности."
        }
        }
    ]
    }
    </script>

</head>

<body>
    <header>
        <div class="logo">PRO Потолок</div>
        <nav>
            <a href="#hero" class="nav-link">Главная</a>
            <a href="#carousel" class="nav-link">Каталог</a>
            <a href="#calculator" class="nav-link">Калькулятор</a>
            <a href="#about" class="nav-link">О нас</a>
            <a href="#reviews" class="nav-link">Отзывы</a>
             <a href="#contacts" class="nav-link">Контакты</a>

        </nav>
        <a href="#" class="btn-primary" id="openModal">Вызов замерщика</a>
        <div class="burger">&#9776;</div>
    </header>

    <section id="hero" class="hero container">
        <div class="hero-text fade-up">
            <h1>Натяжные потолки в Севастополе</h1>
            <p>Преобразите интерьер своего дома или офиса с помощью современных натяжных потолков от профессионалов в Севастополе. Мы предлагаем стильные и надёжные решения, идеально подходящие как для классического, так и для современного дизайна.</p>
            <div class="hero-buttons">
                <a href="#" class="btn-primary">Оформить заказ</a>
                <a href="https://yandex.ru/maps/-/CHxiNFYN" class="btn-secondary">Как добраться</a>
            </div>
            <div class="stats">
                <div class="stat"><span>200+</span>Клиентов</div>
                <div class="stat"><span>10 лет</span>На рынке</div>
                <div class="stat"><span>299 руб.</span>За м²</div>
            </div>
        </div>
        <div class="hero-image">
            <img src="{{ url_for('static', filename='img/worker1.png') }}" alt="Мастер по потолкам">
            <img class="overlay-img" src="{{ url_for('static', filename='img/plak.png') }}" alt="Доп. изображение">
        </div>
    </section>

    <section id="carousel" class="carousel-block fade-up">
    <div class="container">
        <h2>Наши продукты</h2>
        <p class="subtitle">
        Мы устанавливаем натяжные потолки из высококачественных материалов: от классических матовых до эффектных глянцевых и многоуровневых конструкций с подсветкой.
        </p>

        <div class="carousel-track-container">
            <ul class="carousel-track">
               
               <li class="carousel-slide">
                    <img src="{{ url_for('static', filename='img/classic.jpg') }}" alt="Классический потолок" />
                    <div class="content">
                        <h3>Классический потолок</h3>
                        <p>Простота и функциональность в каждом элементе. <a href="https://t.me/propotolok92_project"> Пример работ</a></p>
                        <div class="features">
                        <span class="guarantee-badge">15 лет гарантии</span>
                        </div>
                        <div class="price-order-row">
                        <div class="price">₽300 / м²</div>
                        <button class="btn-order">Заказать потолок</button>
                        </div>
                    </div>
                </li>

                <li class="carousel-slide">
                    <img src="{{ url_for('static', filename='img/shadow.jpg') }}" alt="Теневой потолок" />
                    <div class="content">
                        <h3>Теневой потолок</h3>
                        <p>Изысканная игра света и тени, создающая глубину и уют. <a href="https://t.me/propotolok92_project"> Пример работ</a></p>
                        <div class="features">
                        <span class="guarantee-badge">15 лет гарантии</span>
                        </div>
                        <div class="price-order-row">
                        <div class="price">₽900 / м²</div>
                        <button class="btn-order" >Заказать потолок</button>
                        </div>
                    </div>
                </li>

                <li class="carousel-slide">
                    <img src="{{ url_for('static', filename='img/pars.jpg') }}" alt="Парящий потолок" />
                    <div class="content">
                        <h3>Парящий потолок</h3>
                        <p>Локальная и визуальная невесомость, создающие эффект парящей поверхности.<a href="https://t.me/propotolok92_project"> Пример работ</a></p>
                        <div class="features">
                        <span class="guarantee-badge">15 лет гарантии</span>
                        </div>
                        <div class="price-order-row">
                        <div class="price">₽1200 / м²</div>
                        <button class="btn-order">Заказать потолок</button>
                        </div>
                    </div>
                </li>

            

                <li class="carousel-slide">
                    <img src="{{ url_for('static', filename='img/light_line.jpeg') }}" alt="Световые линии" />
                    <div class="content">
                        <h3>Световые линии</h3>
                        <p>Современное оформление потолка с акцентом на свет и геометрию.<a href="https://t.me/propotolok92_project"> Пример работ</a></p>
                        <div class="features">
                        <span class="guarantee-badge">15 лет гарантии</span>
                        </div>
                        <div class="price-order-row">
                        <div class="price">₽600 / м²</div>
                        <button class="btn-order">Заказать потолок</button>
                        </div>
                    </div>
                </li>


                <li class="carousel-slide">
                    <img src="{{ url_for('static', filename='img/track.jpg') }}" alt="Трековая система" />
                    <div class="content">
                        <h3>Трековая система</h3>
                        <p>Гибкое и удобное освещение, которое можно легко настроить под любые задачи.<a href="https://t.me/propotolok92_project"> Пример работ</a></p>
                        <div class="features">
                        <span class="guarantee-badge">15 лет гарантии</span>
                        </div>
                        <div class="price-order-row">
                        <div class="price">₽800 / м²</div>
                        <button class="btn-order">Заказать потолок</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </section>

    <section id="calculator" class="calculator">
        <h1>Калькулятор стоимости</h1>
        <p class="desc">Рассчитайте ориентировочную стоимость натяжного потолка за пару минут!</p>

        <div class="calc-container">
            <!-- Тип потолка -->
            <div class="calc-block">
                <h2>Тип потолка</h2>
                <label><input type="radio" name="ceilingType" value="classic" checked> Классический</label>
                <label><input type="radio" name="ceilingType" value="floating"> Парящий</label>
                <label><input type="radio" name="ceilingType" value="shadow"> Теневой</label>
            </div>

            <!-- Тип материала -->
            <div class="calc-block">
                <h2>Тип материала</h2>
                <label><input type="radio" name="materialType" value="glossy" checked> Глянцевый</label>
                <label><input type="radio" name="materialType" value="matte"> Матовый</label>
                <label><input type="radio" name="materialType" value="satin"> Сатиновый</label>
            </div>

            <!-- Площадь -->
            <div class="calc-block full-width">
                <h2>Площадь помещения</h2>
                <input type="range" id="area" min="0" max="160" value="30">
                <span id="areaValue">30</span> м²
            </div>

            <!-- Элементы -->
            <div class="calc-block elements-block">
                <h2>Элементы на потолке</h2>
                <div class="elements-list">
                   
                    <div class="element">
                        <label>Светильник</label>
                        <div class="element-controls">
                            <button class="minus" data-target="lamps">-</button>
                            <span id="lamps">1</span>
                            <button class="plus" data-target="lamps">+</button>
                        </div>
                    </div>

                    <div class="element">
                        <label>Трек</label>
                        <div class="element-controls">
                            <button class="minus" data-target="track">-</button>
                            <span id="track">2</span>
                            <button class="plus" data-target="track">+</button>
                        </div>
                    </div>

                    <div class="element">
                        <label>Люстра</label>
                        <div class="element-controls">
                            <button class="minus" data-target="chandelier">-</button>
                            <span id="chandelier">3</span>
                            <button class="plus" data-target="chandelier">+</button>
                        </div>
                    </div>

                    <div class="element">
                        <label>Свет. линия</label>
                        <div class="element-controls">
                            <button class="minus" data-target="lightLine">-</button>
                            <span id="lightLine">2</span>
                            <button class="plus" data-target="lightLine">+</button>
                        </div>
                    </div>

                   
                </div>
            </div>

            <!-- Итог -->
            <div class="calc-block result-block calc-result">
                <h2>Итого</h2>
                <p><span id="priceMin">0</span> - <span id="priceMax">0</span> ₽</p>
                <small>Точная сумма уточняется после замера</small>
                <button class="order-btn">Оформить заказ</button>
            </div>
        </div>
    </section>

    <section id="about" class="about-us">
        <h2>О нас</h2> 
        <p class="about-desc">Мы — локальная команда мастеров, которая  устанавливает натяжные потолки в квартирах, домах и коммерческих пространствах Севастополя и Крыма. Мы выросли из небольшого семейного дела в профессиональную компанию с собственным штатом сертифицированных монтажников, дизайнерским отделом и современным складом-производством.</p>  
        <div class="about-grid">
            <div class="about-item">
                <div class="about-top">
                    <img src="{{ url_for('static', filename='img/transparency.png') }}" alt="Прозрачность" class="about-icon">
                    <h3>Прозрачность и честность</h3>
                </div>
                <p>Бесплатный выезд замерщика, детальная смета без скрытых платежей и фиксированные сроки монтажа.</p>
            </div>

            <div class="about-item">
                <div class="about-top">
                    <img src="{{ url_for('static', filename='img/quality.png') }}" alt="Качество" class="about-icon">
                    <h3>Качество материалов</h3>
                </div>
                <p>Работаем только c полотнами класса «Premium» по стандартам пожарной и санитарной безопасности.</p>
            </div>

            <div class="about-item">
                <div class="about-top">
                    <img src="{{ url_for('static', filename='img/personal.png') }}" alt="Прозрачность" class="about-icon">
                    <h3>Индивидуальный подход</h3>
                </div>
                <p>Помогаем подобрать фактуру, цвет и освещение под стиль интерьера, делаем 3D-визуализации.</p>
            </div>

            <div class="about-item">
                <div class="about-top">
                    <img src="{{ url_for('static', filename='img/technology.png') }}" alt="Прозрачность" class="about-icon">
                    <h3>Технологичность</h3>
                </div>
                <p>Используем лазерные нивелиры, бесшовную сварку и пылесборные системы — монтаж проходит чисто, быстро и без лишнего шума.</p>
            </div>
        </div>

                <!-- Звёздочки -->
        <div class="about-us stars">
            <span class="star">✦</span>
            <span class="star">✧</span>
            <span class="star">✧</span>
        </div>
    </section>

    <section id="reviews" class="reviews-section">
        <div class="reviews-header">
            <div class="reviews-title-row">
                <h2>Отзывы</h2>
                <a href="https://yandex.ru/maps/org/214850144202/reviews" target="_blank">Посмотреть все</a>
            </div>
            <p class="reviews-subtitle">
                Посмотрите отзывы наших довольных клиентов и убедитесь в качестве наших натяжных потолков 
                и сервисе на каждом этапе работы.
            </p>
        </div>


        <div class="reviews-carousel">
        <div class="reviews-wrapper">
            <div class="review-card">
                <div class="stars-row">
                    <span>⭐</span>
                    <span>⭐</span>
                    <span>⭐</span>
                    <span>⭐</span>
                    <span>⭐</span>
                </div>
                <div class="review-title">Прекрасный сервис</div>
                <div class="review-text">
                   Заказывали парящий потолок — сделали всё идеально! Мастера внимательные, работу выполнили аккуратно и в срок. Очень доволен результатом, теперь интерьер выглядит современно и стильно. Рекомендую всем, кто ценит качество и профессионализм!
                </div>
                <div class="review-author">
                    <img src="https://i.pravatar.cc/40?img=1" alt="">
                    <div>
                    <div><b>Иван К.</b></div>
                    <small>20 июля 2025</small>
                    </div>
                </div>
            </div>

            <div class="review-card">
                    <div class="stars-row">
                        <span>⭐</span>
                        <span>⭐</span>
                        <span>⭐</span>
                        <span>⭐</span>
                        <span>⭐</span>
                    </div>
                <div class="review-title">Быстрая работа</div>
                <div class="review-text">
                    Никогда не думала, что потолок может так преобразить комнату! Работа выполнена идеально, ребята внимательные и опытные. Очень довольна! 
                </div>
                <div class="review-author">
                    <img src="https://i.pravatar.cc/40?img=44" alt="">
                    <div>
                    <div><b>Екатерина С.</b></div>
                    <small>23 июля 2025</small>
                    </div>
                </div>
            </div>

            <div class="review-card">
               <div class="stars-row">
                    <span>⭐</span>
                    <span>⭐</span>
                    <span>⭐</span>
                    <span>⭐</span>
                    <span>⭐</span>
                </div>
                <div class="review-title">Работа с клиентами</div>
                <div class="review-text">
                    Отличный сервис и высокий профессионализм! Всё сделали чисто, быстро и с вниманием к деталям. Результатом полностью доволен.
                </div>
                <div class="review-author">
                    <img src="https://i.pravatar.cc/40?img=3" alt="">
                    <div>
                    <div><b>Егор М.</b></div>
                    <small>28 июля 2025</small>
                    </div>
                </div>
            </div>

             <div class="review-card">
               <div class="stars-row">
                    <span>⭐</span>
                    <span>⭐</span>
                    <span>⭐</span>
                    <span>⭐</span>
                    <span>⭐</span>
                </div>
                <div class="review-title">Работа с клиентами</div>
                <div class="review-text">
                    Обратился по рекомендации друзей и не пожалел. Ребята приехали вовремя, всё сделали аккуратно и без лишней суеты. Видно, что работают на совесть — после себя оставили порядок, а результат превзошёл ожидания. Теперь с уверенностью могу советовать всем знакомым!
                </div>
                <div class="review-author">
                    <img src="https://i.pravatar.cc/40?img=12" alt="">
                    <div>
                    <div><b>Федор М.</b></div>
                    <small>17 мая 2025</small>
                    </div>
                </div>
            </div>

             <div class="review-card">
               <div class="stars-row">
                    <span>⭐</span>
                    <span>⭐</span>
                    <span>⭐</span>
                    <span>⭐</span>
                    <span>⭐</span>
                </div>
                <div class="review-title">Работа с клиентами</div>
                <div class="review-text">
                    Очень понравилась работа ребят! Всё сделали аккуратно и в срок, помогли с выбором дизайна. Теперь потолок радует каждый день, спасибо большое!
                </div>
                <div class="review-author">
                    <img src="https://i.pravatar.cc/40?img=47" alt="">
                    <div>
                    <div><b>Марина Б.</b></div>
                    <small>24 июня 2025</small>
                    </div>
                </div>
            </div>

            <div class="review-card">
               <div class="stars-row">
                    <span>⭐</span>
                    <span>⭐</span>
                    <span>⭐</span>
                    <span>⭐</span>
                    <span>⭐</span>
                </div>
                <div class="review-title">Работа с клиентами</div>
                <div class="review-text">
                   Заказал натяжной потолок впервые, немного переживал. Но мастера всё объяснили, подсказали по освещению и сделали очень аккуратно.
                </div>
                <div class="review-author">
                    <img src="https://i.pravatar.cc/40?img=65" alt="">
                    <div>
                    <div><b>Юрий А.</b></div>
                    <small>1 июля 2025</small>
                    </div>
                </div>
            </div>

            

        </div>
        </div>

        <div class="carousel-controls">
        <button id="prev">←</button>
        <button id="next">→</button>
        </div>
    </section>
    
    <section id="contacts" class="contacts-section">
        <h2 class="contacts-title">Контакты</h2>
        <div class="contacts-intro">
            <p>Свяжитесь с нами удобным для вас способом — мы всегда на связи и готовы ответить на все ваши вопросы.</p>
        </div>

        <div class="contacts-wrapper">
            <div class="contacts-map">
                <!-- Яндекс.Карта -->
                 <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A7348c0311ccf0fcb91ee08b0e19f5205fbd12eeee48be37efa930ddfb96f3072&amp;source=constructor" width="500" height="300" frameborder="0"></iframe>
            </div>

            <div class="contacts-info">
                <h3>Наш адрес</h3>
                <p>г. Севастополь, ул. Новороссийская, 56</p>

                <h3>Телефон</h3>
                <p>+7 (978) 585-80-80</p>

                <h3>Email</h3>
                <p>pro-potolok92@mail.ru</p>

                <h3>Соцсети</h3>
                <p>Telegram: <a href="https://t.me/propotolok92_project" target="_blank">@propotolok92_project</a></p>
                <p>ВКонтакте: <a href="https://vk.com/pro_potoloksev" target="_blank">vk.com/pro_potoloksev</a></p>
            </div>
        </div>
    </section>

    <footer class="site-footer">
    <div class="footer-top">
        <div class="footer-left">
        <h2 class="company-name">PRO Потолок</h2>
        </div>
        <div class="footer-center">
        <nav class="footer-menu">
            <a href="#hero" class="nav-link">Главная</a>
            <a href="#carousel" class="nav-link">Каталог</a>
            <a href="#calculator" class="nav-link">Калькулятор</a>
            <a href="#about" class="nav-link">О нас</a>
            <a href="#reviews" class="nav-link">Отзывы</a>
             <a href="#contacts" class="nav-link">Контакты</a>
        </nav>
        </div>
        <div class="footer-right">
        <a href="https://t.me/propotolok92_project" target="_blank">
            <button class="subscribe-btn">
                Подписывайтесь
                <img src="{{ url_for('static', filename='img/tg.png') }}" alt="Telegram" class="telegram-icon">
                <img src="{{ url_for('static', filename='img/vk.png') }}" alt="VK" class="telegram-icon">
            </button>
        </a>
        </div>
    </div>

    <hr class="footer-divider">

    <div class="footer-bottom">
        <div class="footer-info">
        <div class="info-item">
            <img src="{{ url_for('static', filename='img/email.png') }}" alt="Email" class="info-icon">
            <span>pro-potolok92@mail.ru</span>
        </div>
        <div class="info-item">
            <img src="{{ url_for('static', filename='img/phone.png') }}" alt="Телефон" class="info-icon">
            <span>+7 (978) 585-80-80</span>
        </div>
        <div class="info-item">
            <img src="{{ url_for('static', filename='img/geo.png') }}" alt="Адрес" class="info-icon">
            <span>г. Севастополь, ул. Новороссийская, 56</span>
        </div>
            <div class="footer-policy"> 
                <a href="/privacy">Политика конфиденциальности</a> 
            </div> 
        </div>
    </div>
    </footer>
    <!-- ===== Модалка ===== -->
    <div class="modal" id="modal">
    <div class="modal-content">
        <span class="close-btn" id="closeModal">&times;</span>
        <h2>Оставьте заявку</h2>
        <p>Введите ваше имя и номер телефона</p>

        <form id="requestForm">
        <input type="text" name="name" placeholder="Ваше имя" required autofocus>
        <input type="tel" name="phone" id="phoneInput" placeholder="+7 (___) ___-__-__" required>

        <!-- Кнопка -->
        <div class="modal-buttons">
            <button type="submit" class="btn-submit">Мы перезвоним</button>
        </div>
        </form>

        <!-- Разделитель -->
        <div class="divider"><span>ИЛИ</span></div>

        <!-- Телефон -->
        <div class="modal-phone">
        <a href="tel:+79785858080">+7 (978) 585-80-80</a>
        </div>
    </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/MotionPathPlugin.min.js"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/about_us.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal_func.js') }}"></script>
    <script src="{{ url_for('static', filename='js/calculator.js') }}"></script>
    <script src="{{ url_for('static', filename='js/reviews.js') }}"></script>
</body>
</html>
